body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    height: fit-content;
    flex-direction: column;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
  }
  
  html{
    scroll-behavior: smooth;
  }
  * {
    box-sizing: border-box;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  header h2,h3,a {
    color: #f8f8f8;
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }
  
  .logo {
    margin: 0;
    font-size: 1.45em;
  }
  
  .main-nav {
    margin-top: 5px;
  
  }
  .logo a,
  .main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
  }
  
  .main-nav a {
    color: #ffffff;
    font-size: .99em;
  }
  
  .main-nav a:hover {
    opacity: 0.5;
  }

  
  .header {
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: #fd0202;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  }

  @media (min-width: 769px) {
    .header, .main-nav {
      display: flex;
    }
    .header {
      flex-direction: column;
      align-items: center;
        .header{
      width: 80%;
      margin: 0 auto;
      max-width: 1150px;
    }
    }
  
  }
  
  @media (min-width: 1025px) {
    .header {
      flex-direction: row;
      justify-content: space-between;
    }
  
  }

  @media (max-width: 769px){
    .header {
      background-size: 0cm;
    }
  }


  /* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/main_wallpaper.jpg");
  
    /* Set a specific height */
    height: 100vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  

  /* Place text in the middle of the image */
  .hero-text h2 {
    position: absolute;
    text-align: center;
    font-size: 5vh;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .hero-image button {
    position: absolute;
    top: 70%; /* Adjust this value to vertically center the button */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fd0202;
    color: #fff;
    padding: 20px 40px; /* Adjust padding for the desired size */
    text-align: center;
    display: inline-block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

  @media (min-width: 769px) {
    .hero-text h2{
      top: 60%;
      font-size: 10vh;
      width: 100%;
    }

    .hero-image button {
      top: 80%; /* Adjust this value to vertically center the button */
    }
  }

.about-section{
  margin-top: 30px;
  margin-bottom: 20px;
  align-self: center;
  font-size: 20px;
  background: #ffffff;
  width: 60%;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.about-section h2 {
  color: #000000; /* Set the color of the heading text */
  text-align: center;
  padding: 10px;
}

.about-section p {
  color: #666; /* Set the color of the paragraph text */
  text-align: justify;
}

.partners {
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
  font-size: 20px;
  background: #ffffff;
  width: 60%;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-bottom: 20px;
}

.partners h2 {
  color: #000000; 
  text-align: center;
  padding: 10px;
  padding-bottom: 30px;
}

.partners-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;

}

.partner {
  flex: 0 0 30%;
}

.partner img{
  max-width: 50%;
  height: auto;
}

.gallery-background {
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
  font-size: 20px;
  background: #ffffff;
  width: 60%;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-bottom: 20px;
  width: fit-content;
}

.gallery {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
  margin: auto;
  font-size: 20px;
  background: #ffffff;
  width: 30%;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
}

.gallery h2 {
  color: #000000; 
  text-align: center;
  padding: 10px;
}


.gallery-container {
  display: flex;
  flex-flow: row;
  margin: auto;
}

.gallery-item {
  padding: 10px;
}

.gallery-item img {
  border-radius: 8px;
  width: 300px;
  height: 300px;
}

form {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

 form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


  footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}
